* { 
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  margin: 0;
  padding: 10px;
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header header"
    "left main right"
    "left main right"
    "bottom bottom right";
}

.block {
  border: 1px solid #000;
  padding: 10px;
}

.header-block {
  grid-area: header;
  position: relative;
}

.box-x {
  position: absolute;
  right: 16px;
  top: 16px;
  margin: 0;
  font-size: 1.2em;
}

.left-col {
  grid-area: left;
  display: grid;
  gap: 12px;
}

.block3 {
  grid-area: main;
}

.block4 {
  grid-area: right;
}

.block6 {
  grid-area: bottom;
}

.block6 h2 {
  margin-top: 0; 
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 6px 0;
}

@media (max-width: 1080px) {
  .container { 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto; 
    grid-template-areas:
      "header header"
      "left   main"
      "right  right"
      "bottom bottom";
  }
}